.about-us-header {
  margin-top: 70px;
}
.about-us-header h2 {
  font-size: 35px;
  font-weight: lighter;
  font-family: "Bebas Neue", cursive;
  color: #474747;
}
.about-us-header p {
  font-size: 16px;
  color: #a4a4a4;
  font-style: italic;
}
.about-us-header img {
  width: 100%;
}

.our-description {
  margin-top: 35px;
  display: flex;
  justify-content: space-between;
  align-items: top;
  flex-wrap: wrap;
}
.our-description .top-line {
  width: 100%;
}
.our-description .descr-column {
  width: 32%;
}
.our-description .descr-column h3 {
  font-family: "Bebas Neue", cursive;
  font-size: 25px;
  font-weight: lighter;
  letter-spacing: 1px;
  color: #474747;
}
.our-description .descr-column .first-descr {
  margin-top: 20px;
  color: #a9a9a9;
  font-size: 16px;
}
.our-description .descr-column .second-descr {
  margin-top: 25px;
  color: #6c6c6c;
  font-size: 16px;
}
@media screen and (max-width: 1024px) {
  .our-description .descr-column {
    width: 49%;
    margin: 25px auto;
  }
}
@media screen and (max-width: 630px) {
  .our-description .descr-column {
    width: 100%;
    margin: 25px 0;
  }
}

.our-workers {
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-wrap: wrap;
  margin-top: 55px;
  margin-bottom: 50px;
}
.our-workers .worker {
  width: 32%;
  border: 1px solid #f8f8f8;
}
.our-workers .worker img {
  width: 100%;
}
.our-workers .worker .info {
  padding: 13px;
}
.our-workers .worker .info .name {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.our-workers .worker .info .name h3 {
  color: #474747;
  font-size: 27px;
  font-family: "Bebas Neue", cursive;
  letter-spacing: 1px;
  font-weight: lighter;
}
.our-workers .worker .info .name p {
  font-family: "Bebas Neue", cursive;
  font-size: 16px;
  color: #515151;
}
.our-workers .worker .info .profession {
  color: #949393;
  font-family: "Bebas Neue", cursive;
  letter-spacing: 1px;
  font-weight: lighter;
  font-size: 16px;
}
.our-workers .worker .info .about {
  color: #515151;
  font-size: 16px;
}
@media screen and (max-width: 1024px) {
  .our-workers .worker .info .name h3 {
    font-size: 21px;
  }
  .our-workers .worker .info .name p {
    font-size: 12px;
  }
  .our-workers .worker .info .profession {
    font-size: 12px;
  }
  .our-workers .worker .info .about {
    font-size: 12px;
  }
}
@media screen and (max-width: 720px) {
  .our-workers .worker {
    width: 49%;
    margin: 25px auto;
  }
}
@media screen and (max-width: 450px) {
  .our-workers .worker {
    width: 100%;
  }
  .our-workers .worker .info .name h3 {
    font-size: 27px;
  }
  .our-workers .worker .info .name p {
    font-size: 16px;
  }
  .our-workers .worker .info .profession {
    font-size: 16px;
  }
  .our-workers .worker .info .about {
    font-size: 16px;
  }
}