main {
  display: flex;
  justify-content: space-between;
  align-items: top;
  width: 100%;
}

.main-blog-content {
  margin-top: 50px;
  width: 70%;
}
.main-blog-content .blog-header h2 {
  font-family: "Bebas Neue", cursive;
  font-size: 32px;
  color: #474747;
  font-weight: normal;
}
.main-blog-content .blog-header p {
  font-size: 16px;
  font-style: italic;
  color: #a4a4a4;
}
.main-blog-content .article > h3 {
  font-family: "Bebas Neue", cursive;
  font-size: 25px;
  color: #474747;
  font-weight: normal;
  margin-top: 45px;
}
.main-blog-content .article .article-img {
  margin-top: 20px;
  width: 100%;
}
.main-blog-content .article .article-info {
  display: flex;
  justify-content: space-between;
  align-items: top;
  margin-top: 25px;
  width: 100%;
}
.main-blog-content .article .article-info .info {
  width: 20.5%;
}
.main-blog-content .article .article-info .info h3 {
  font-family: "Bebas Neue", cursive;
  color: #474747;
  font-size: 18px;
  font-weight: normal;
}
.main-blog-content .article .article-info .info p {
  font-size: 16px;
  color: #a4a4a4;
  margin-top: 10px;
  margin-bottom: 15px;
}
.main-blog-content .article .article-info .article-description {
  width: 77%;
  font-size: 16px;
  color: #414141;
}
.main-blog-content .top-line {
  margin-top: 20px !important;
}

.side-block {
  width: 25%;
  margin-top: 115px;
}
.side-block h3 {
  font-size: 18px;
  font-family: "Bebas Neue", cursive;
  color: #474747;
  font-weight: normal;
}
.side-block p {
  color: #414141;
  margin-top: 20px;
}
.side-block .top-line {
  margin-top: 0;
}
.side-block .blog-categories {
  margin-top: 30px;
}
.side-block .blog-categories ul {
  margin-top: 20px;
}
.side-block .blog-twitter {
  margin-top: 30px;
}
.side-block .blog-twitter div p:first-child {
  margin-top: 20px;
}
.side-block .blog-twitter div p:last-child {
  margin-top: 7px;
  color: #999999;
}
.side-block .blog-twitter span, .side-block .blog-twitter a {
  color: #a4a4a4;
}

@media screen and (max-width: 1024px) {
  .main-blog-content .article .article-info .article-description {
    font-size: 12px;
  }
  .main-blog-content .article .article-info .info h3 {
    font-size: 14px;
  }
  .main-blog-content .article .article-info .info p {
    font-size: 14px;
  }
}
@media screen and (max-width: 550px) {
  main {
    flex-direction: column-reverse;
    align-items: center;
  }

  .main-blog-content {
    width: 100%;
  }

  .side-block {
    width: 100%;
    margin-top: 30px;
  }
}