main {
  display: flex;
  justify-content: space-between;
  align-items: top;
  width: 100%;
}

.side-block {
  width: 25%;
  margin-top: 115px;
}
.side-block h3 {
  font-size: 18px;
  font-family: "Bebas Neue", cursive;
  color: #474747;
  font-weight: normal;
}
.side-block p {
  color: #414141;
  margin-top: 20px;
}
.side-block .top-line-img {
  margin-top: 0;
}
.side-block .blog-categories {
  margin-top: 30px;
}
.side-block .blog-categories ul {
  margin-top: 20px;
}
.side-block .blog-twitter {
  margin-top: 30px;
}
.side-block .blog-twitter div p:first-child {
  margin-top: 20px;
}
.side-block .blog-twitter div p:last-child {
  margin-top: 7px;
  color: #999999;
}
.side-block .blog-twitter span, .side-block .blog-twitter a {
  color: #a4a4a4;
}

@media screen and (max-width: 550px) {
  main {
    flex-direction: column-reverse;
    align-items: center;
  }

  .side-block {
    width: 100%;
    margin-top: 30px;
  }
}