@import "./mixins.scss";
@import "./variables.scss";

.contact-us {
    width: 70%;
    margin-top: 65px;
    padding: 10px;

    .top-line {
        margin-top: 15px;
    }

    .contact-us-header {
        h2 {
            font-family: $bebas;
            font-size: $secondHeaderSize;
            color: $headersColor;
            font-weight: normal;
        }
        p {
            font-size: $textSize;
            font-style: italic;
            color: $textColor;
        }
    }

    .contact-us-info {
        p {
            margin-top: 35px;
            color: #414141;
        }
    }
    form {
        @include d-flex($align-items: flex-start){
            flex-direction: column;
        }
        margin-top: 25px;

        input {
            font-size: 16px;
            font-family: $bebas;
            font-weight: normal;
            color: #c6c6c6;
            border-radius: 0;
            border: 1px solid #eeeeee;
            padding: 10px;
            width: 35%;
            margin-top: 10px;
        }
        input::-webkit-input-placeholder {
            color: #c6c6c6;
        }
        input::-moz-placeholder {
            color: #c6c6c6;
        }
        textarea {
            font-family: $bebas;
            font-weight: normal;
            font-size: 16px;
            color: #c6c6c6;
            margin-top: 10px;
            border-radius: 0;
            padding: 10px;
            width: 70%;
            border: 1px solid #eeeeee;
            height: 200px;
            resize: none;
        }
        textarea::-webkit-input-placeholder {
            color: #c6c6c6;
        }
        textarea::-moz-placeholder {
            color: #c6c6c6;
        }

        button {
            border: none;
            background: none;
            margin-top: 10px;
            display: flex;
            align-items: center;
            color: $headersColor;
            font-family: $bebas;
            font-size: 18px;

            span {
                margin-right: 7px;
                color: $headersColor;
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    .contact-us {
        form {
            input {
                width: 60%;
            }
            textarea {
                width: 100%;
                box-sizing: border-box;
            }
        }
    }
}

@media screen and (max-width: 550px) {
    .contact-us {
        width: 100%;
    }
}

@media screen and (max-width: 425px) {
    .contact-us {
        form {
            input {
                width: 100%;
                box-sizing: border-box;
            }
        }
    } 
}