@import "variables";
@import "mixins";

.top-line-img {
    margin-top: 65px;
    width: 100%;
    height: 5px;
}
footer {
    background-color: #f6f6f6;
    height: 70px;
    width: 100%;

    .container {
        @include d-flex {
            flex-wrap: wrap;
        };

        p {
            margin-top: 20px;
            color: #9b9b9b;
            font-size: $textSize;
        }
    }
    @media screen and (max-width: 906px) {
        height: 100px;
    }
}