$headersColor: #474747;
$textColor: #a4a4a4;
$pacifico: 'Pacifico', cursive;
$bebas: 'Bebas Neue', cursive;

//Text sizes for different screen widths

$largeTextSize: 20px;
$textSize: 16px;
$smallTextSize: 12px;
$miniTextSize: 9px;

$secondHeaderSize: 32px;
$smallSecondSize: 21px;
$miniSecondSize: 16px;